fastapi==0.110.2
uvicorn[standard]==0.29.0
pdfplumber==0.11.2
sentence-transformers==2.7.0
faiss-cpu==1.8.0
chromadb==0.5.4
pandas==2.2.2
pyarrow==16.1.0
openpyxl==3.1.2
duckdb==0.10.2
pydantic==2.7.1
python-multipart==0.0.9
